body{
    background-color: yellow
}


p{ 
color:brown; 
background-color: aqua;
    font-size: 20px;
    font-weight: 600;
}
a {
    color:red;
} 
h1{
   color:blue;
   background-color: #e5dfec5d   
}
span{
    color: red;
}
ul{
    color: green;
}
h2{
    background-color:purple;
    opacity:0.9;
}