body{
    background-color: rgb(209, 230, 146);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: medium;
    font-style: normal; 
    direction: justify;
}

.ceo{
    color:orangered;
    }

img{
    height: 32rem;
}

.review1{
    display: flex;
} 

.review-image{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

.tag{
    color:black;
}

.tag, .ceo{
    background-color:chartreuse;
}

a {
    color:blue;
    font-size: 20px;
    font-weight: 400;
    font-style:italic;
    font-weight: bolder;
} 

#reviews{
    color: indigo;
} 

ul > li{
    border-bottom: 3px dotted mintcream ;
}
href {
font-size: medium;
font-weight: bold;
text-decoration:wavy
}





span{
    color: red;
    background-color: gold;
} 

#services {
    color:orangered;
}


div{
    color:orangered;
}

ul{
    color: rgb(0, 104, 0);
}

h2{
   color: orangered;
    background-color:yellowgreen;
    text-decoration-line:underline;
    text-decoration-thickness: 10px orangered;
    opacity:0.9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
    font-weight:bolder;
    text-shadow: green 2px 2px 5px;
}

h3 {
    text-decoration-thickness: 10px;
    text-decoration-line:underline;
} 

h1{
    width: 500px;
    height: 40px;
    border: 2px double green;
} 
#container{
    width: 400px;
    height: 200px;
    border: 2px solid black;
}  

#link{
    font-size: 30px;
    border: 1px solid red;
   /*padding: 5px 10px 15px 20px;*/
   padding:10px 0 10px 20px;
}
.box{
    border: 1px solid green;
    height: 60%;
    width: 25%;
}

}

ul {
    list-style-type:square;
}