.box{
    background-color: olive;
    width: 100px;
    height: 100px;
   /* transform: translateX(400px);*/
   display: inline-block;
} 
.first{
    background-color: orangered;
    /*transform: translate(100px 200px);*/
    /*transform: rotate(45deg);
    margin-left: 400px;*/
    transform: scale(4);
} 
h1{
    /*transform: rotateX(-20deg);*/
    border: 1px solid black;
    display: inline-block;
    /*transform: scale(5);*/
} 
